.comment_style2{
  .list_wrap{
      padding: 10px;
      .shop_icon{
          width: 60px;
          height: 60px;
      }
      .title{
        height: 20px;
        line-height: 20px;
        font-size: 16px;
        padding: 5px 0 0 5px;
      }
      .desc{
        height: 20px;
        line-height: 20px;
        font-size: 15px;
        color:#ccc;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px 0 0 5px;
      }
  }
  .list-item{
        width: 100%;
        margin-top: 20px;
        .user_icon{
          width: 25px;
          height: 25px;
          margin:5px 10px 0 12px;
          border-radius: 25px;
        }
        .wrap-list{
          width:90%;
          border-bottom:1px solid #ebebeb;
          padding-bottom:15px;
          .flex-between{
             width:72%;
             .nick_name{
               font-size: 14px;
               line-height:22px;
             }
             .date_time{
               font-size: 12px;
               line-height:24px;
               padding-left: 10px;
             }
             .times{
               position:absolute;
               right:10px;
               font-size: 14px;
               line-height:24px;
             }
          }
          .remark{
            font-size: 14px;
            width:70%;
            text-overflow:ellipsis;
            white-space:nowrap;
            overflow:hidden;
          }
        }
    }
    .forms{
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 100;
      background: rgb(247, 247, 247);
      width: 100%;
      input{
        width: 90%;
        margin: 5px 10px;
        border-radius: 3px;
        border:1px solid rgb(236,236,236);
        font-size:11px;
        padding:3px;
        background: #fff;
        min-height: 20px!important;
      }
      .selicon{
          img{
            width:20px;
            height:20px;
            padding:11px 10px 3px
          }
      }
    }
}
