.comment_style4{
    width:100%;
    height:calc( 100vh );
    background:rgb(244,244,244);
    .headtitle{
      width:95%;
      height:40px;
      background:#fff;
      padding:0 2.5%;
      line-height: 40px;
      justify-content: space-between;
      .star{
        height:40px;
        display:flex;
        line-height:47px;
        .textnum{
          width:30px;
          height:40px;
          line-height:40px;
          color: rgb(254,120,68);
        }
        img{
          width:20px;
          height:20px;
          margin-right:10px;
          margin-top:8px;
        }
      }
    }
    .cf-content{
      margin:10px 10px 0 0;
      min-height:100px;
      background: #fff;
      padding:3%;
      width: 100%;
      resize: none;
      display: block;
    }
    .weui{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      .weui-uploader{
        width: 94%;
        margin-left: 3%;
        padding: 0px 0px 9px;
        .weui-uploader__files{
          width: calc( 100% + 9px );
          .weui-uploader__file{
            float: left;
            margin-right: 11px;
            margin-top: 9px;
            width:calc( (100% - 44px) / 4 );
            position:relative;
            height:0;
            padding-top:calc( (100% - 44px) / 4 );
              .deleteicon{
                width:14px;
                height:14px;
                border:1px solid #fff;
                position:absolute;
                right:-5px;
                top:-5px;
                background:rgb(230,230,231);
                border-radius:14px;
                z-index:100;
                .dels{
                  width:100%;
                  height: 100%;
                  position: relative;
                  .delleft{
                    position:absolute;
                    left:3px;
                    top:6px;
                    width:8px;
                    height:1px;
                    background:rgb(129,129,129);
                    transform:rotate(45deg);
                  }
                  .delright{
                    position:absolute;
                    right:3px;
                    top:6px;
                    width:8px;
                    height:1px;
                    background:rgb(129,129,129);
                    transform:rotate(135deg);
                  }
                }
              }
              .weui-uploader__img{
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
              }
          }
        }
        .weui-uploader__input-box{
            float: left;
            position: relative;
            margin-right: 9px;
            margin-top: 9px;
            width:calc( (100% - 44px) / 4 );
            padding-top:calc( (100% - 44px) / 4 );
            border: 1px dotted #d9d9d9;
            .weui-uploader__input{
              position: absolute;
              z-index: 1;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
            :before{
              content: " ";
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              background-color: #d9d9d9;
              width: 2px;
              height: 39.5px;
            }
            :after{
              content: " ";
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              background-color: #d9d9d9;
              width: 39.5px;
              height: 2px;
            }
        }
        .weui-uploader__input-box:before{
          content: " ";
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background-color: #d9d9d9;
        }
        .weui-uploader__input-box:after{
          content: " ";
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background-color: #d9d9d9;
        }
        .weui-uploader__input-box:active{
          border-color: #999;
        }
      }

    }
    .pro_btn_success{
      text-align:center;
      line-height:44px;
      width:90%;
      height:44px;
      background-color:rgb(254,98,108);
      color:#fff;
      font-size:14px;
      margin-top:30px;
      border-radius:5px;
      margin-right: auto;
      margin-left: auto;
      display: block;
    }
}
