.comment_style3{
   .listitem{
     width: auto;
     padding-bottom: 50px;
     .itemline{
        padding:10px 5px 5px;
        min-height:70px;
        border-top:1px solid rgb(244,244,244);
        .icon{
          width:30px;
          height: 30px;
          border-radius: 30px;
          margin-right:5px;
          img{
            width:100%;
            height: 100%;
            border-radius: 30px;
          }
        }
        .mess{
          width:calc( 100% - 41px );
          .mobile{
            font-size: 12px;
            color: #000;
            padding-bottom: 10px;
          }
          .desc{
            color:rgb(104,104,104);
            font-size: 14px;
            margin-bottom: 10px;
          }
          .imageslist{
            width: 100%;
            overflow: hidden;
            .mainuiitem{
              width: calc( 97% + 5px );
              .wraps{
                display: inline-block;
                width:calc( (100% - 15px) /3 );
                margin:0 5px 0 0;
                position:relative;
                height:0;
                padding-top:calc( (100% - 15px) /3 );
                img{
                  position:absolute;
                  top:0;
                  left:0;
                  width:100%;
                  height:100%;
                }
              }
            }
          }
          .numcontent{
            color: #ccc;
            justify-content: space-between;
            .datetime{
              font-size: 10px;
              color:rgb(170,170,170);
            }
          }
        }
     }
    }
     .forms{
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 100;
        background: rgb(247, 247, 247);
        width: 100%;
        input{
          width: 90%;
          margin: 5px 10px;
          border-radius: 3px;
          border:1px solid rgb(236,236,236);
          font-size:11px;
          padding:3px;
          background: #fff;
        }
        .selicon{
          width: 100%;
          margin:0 10px;
          position: relative;
          img{
            width:20px;
            height:20px;
            padding:7px 10px 3px;
          }
          .tips{
            position:absolute;
            width:auto;
            height:40px;
            top:-70px;
            background:rgb(247, 247, 247);
            border-radius:4px;
            padding:10px 0px 10px 10px;
            .wrapimg{
              position: relative;
              .deleteicon{
                width:14px;
                height:14px;
                border:1px solid #fff;
                position:absolute;
                right:3px;
                top:-6px;
                background:#333;
                border-radius:14px;
                z-index:100;
                .dels{
                  width:100%;
                  height: 100%;
                  position: relative;
                  .delleft{
                    position:absolute;
                    left:3px;
                    top:6px;
                    width:8px;
                    height:1px;
                    background:#fff;
                    transform:rotate(45deg);
                  }
                  .delright{
                    position:absolute;
                    right:3px;
                    top:6px;
                    width:8px;
                    height:1px;
                    background:#fff;
                    transform:rotate(135deg);
                  }
                }
              }
              img{
                width:40px;
                height:40px;
                margin-right:10px;
                padding: 0;
              }
            }
          }
          .hidden{
            display: none;
          }
          .triangle-down{
            position:absolute;
            top:-10px;
            width:0;
            height:0;
            border-left:5px solid transparent;
            border-right:5px solid transparent;
            border-top:4px solid rgb(247, 247, 247);
            left:12px;
          }
        }
     }
}
