@import "../common/uikit";
.shopCart{
    background:#eeeeee;
    position:relative;
    font-size : 14px;
    overflow:hidden;
    width:$mobilePlatformWidth;
    margin:auto;
    height: 100%!important;
    flex-direction:column;
    display: flex;
    ul{
        padding: 0;
        flex:1;
        overflow: scroll;
        li{
            margin-bottom:10px;
            background:#fff;
        }
    }
    .cart-handle{
        line-height:40px;
        padding:0 10px;
        border-bottom:solid 1px #dbdbdb;
        background:#fff;
        text-align: right;
    }
    .cart-list{
        border-bottom : solid 1px #f0f0f0;
        position : relative;
        height : 100px;
        text-align: left;
        padding-right:10px;
        .indexpic{
            width : 70px;
            height : 80px;
            margin-right:10px;
        }
        .title{
            overflow : hidden;
            text-overflow : ellipsis;
            white-space : nowrap;
            max-width : 100%;
            margin : 0 10px 7px 0;
        }
        .count{
            bottom : 10px;
            right : 30px;
            width : 90px;
            height : 25px;
            line-height : 25px;
            border-radius : 3px;
            border : solid 1px #dbdbdb;
            color : #c4c4c4;
            text-align : center;
            .num{
                width : 35px;
                border-right : solid 1px #dbdbdb;
                border-left : solid 1px #dbdbdb;
                color : #484848;
            }
        }
        .sku{
            font-size : 11px;
            color : #a7a7a7;
            height : 20px;
            margin-top:5px;
            margin-bottom:10px;
        }
    }
    .red{
        color : rgba(255,76,83,1);
    }
    .cartnav {
        background : #fff;
        width: $mobilePlatformWidth;
        line-height : 50px;
        border-top : solid 1px #f0f0f0;
        .selete-all{
            text-align:left;
            font-size: 15px;
        }
        .buy{
            text-align : center;
            width : 100px;
            color : #fff;
            background : rgba(250,85,85,1);
        }
    }
    .empty-cart{
        width : 100%;
        height : 100vh;
        display : flex;
        .icon{
            margin :auto;
            width : $mobilePlatformWidth;
            height : 350px;
            object-fit:contain;
        }
    }
    .store{
        color:#000000;
        border-bottom:solid 1px #dbdbdb;
        line-height: 40px;
        padding:0 10px 0 0;
        .icon{
            width:15px;
            height:15px;
        }
        .coupon{
            flex:1;
            text-align: right;
        }
    }
    .product-name{
        margin: 0 10px;
    }
    input[type=radio] {
        border: 0!important;
        height: 18px!important;
        width: 18px!important;
        margin:0 13px 0 12px!important;
    }
    .invalid{
        background:#fff;
        .head{
            line-height:40px;
            padding:0 10px;
            border-bottom:solid 1px #dbdbdb;
        }
        .icon{
            width:15px;
            height:15px;
        }
        .tip{
            color:#8b8b8b;
        }
        .invalid-tip{
            padding:3px;
            font-size: 12px;
            color:#acacac;
            background:#ebebeb;
            border-radius: 2px;
            overflow: hidden;
            margin:0 10px;
        }
    }
    .bgGray{
        background:#f9f9f9;
    }
    .ft15{
        font-size: 15px;
    }
}
