filterviewpage{
    font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif,"Helvetica Neue",Helvetica,Arial;
}
.hidden{display:none!important;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.detailwidth{
  width:100%;
}

.detailHeight{
  height: 100%;
}

.hg_100vh{
  height:100vh;
}
.wx_100vw{
  width:100vw;
}


/*公共箭头样式*/
.triangle-facing-right {
   display: inline-block;
   border-right: 1px solid;
   border-bottom: 1px solid;
   width: 10px;
   height: 10px;
   transform: rotate(-45deg);
   border-color: #999;
}
.triangle-facing-left {
   display: inline-block;
   border-left: 1px solid;
   border-bottom: 1px solid;
   width: 10px;
   height: 10px;
   transform: rotate(45deg);
   border-color: #999;
}

.public_mask{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}

.public_mask_pop{
  width: 85%;
  height: auto;
  border-radius: 5px;
  background: #f9f9f9;
  padding: 5px;
  z-index: 1000;
}

.public_mask_cacel,.public_mask_confirm{
  width: 200rpx;
  height: 80rpx;
  border-radius: 5px;
  border: 1px solid #eee;
  line-height: 80rpx;
  text-align: center;
  font-size: 13px;
  background: #f9f9f9;
}
.public_mask_cacel{
  color: #999;
}
.public_mask_confirm{
  background: #14a7ff;
  color: #fff;
}


.mt10{
    margin-top:10px;
}
.mt20{
    margin-top:20px;
}
.mt15{
    margin-top:15px;
}
.mt5{
    margin-top:5px;
}
.pt10{
    padding-top:10px;
}
.pt20{
    padding-top:10px;
}
.pm5{
    padding-bottom:5px;
}
.pm10{
    padding-bottom:10px;
}
.ml10{
    margin-left:10px;
}
.ml5{
    margin-left:5px;
}
.ml20{
    margin-left:10px;
}
.mr10{
    margin-right:10px;
}
.mr20{
    margin-right:20px;
}
.mb10{
  margin-bottom: 10px;
}
.text-align{
  text-align:center;
}

.dis-overflow{
  overflow: hidden;
}
.dis-overflowx{
  overflow-x:hidden;
}
.dis-overflowy{
  overflow-y:hidden;
}
/*盒模型结构*/
.sys-flex{
	display:-webkit-flex;
	display:flex;
}
.sys-flex-inlne{
  display:-webkit-inline-flex;
  display:inline-flex;
}
.sys-flex-center{
	-webkit-align-items:center;
			align-items:center;
}
.sys-flex-one{
	-webkit-flex:1;
			flex:1;
	min-width: 0px; /* 此行代码勿删，在某些情况下flex无法撑满 */
}
.sys-flex-two{
	-webkit-flex:2;
			flex:2;
}
.sys-flex-five{
	-webkit-flex:5;
			flex:5;
}
.justify-content-left{
    justify-content:flex-start;
}
.justify-content-center{
    justify-content:center;
}
.justify-content-right{
    justify-content:flex-end;
}
.sys-vertical{
	-webkit-flex-direction:column;
			flex-direction:column;
}
.sys-horizontal{
  flex-direction:row;
}
.sys-wrap{
	-webkit-flex-wrap:wrap;
			flex-wrap:wrap;
}

/** 垂直居中 */
.vertical-center {
	display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}
/*水平居中*/
.flex-justify-center{
		justify-content:center;
		-webkit-justify-content:center;
		-moz-justify-content:center;
		-ms-justify-content:center;
}
.flex-justify-between{
  justify-content:space-between;
  -webkit-justify-content:space-between;
  -moz-justify-content:space-between;
  -ms-justify-content:space-between;
}

.list-view{
    position: relative;
}
.ListUI-view .list-view .list-view-item{
    display:flex;
    width:100%;
    overflow:hidden;
    /*margin-bottom:40rpx;*/
    position: relative;
}
.ListUI-view .list-view .list-view-item .head,.body{
    width:100%;
}
.ListUI-view .list-view .list-view-item .left{
    margin-right:30rpx;
    width:200rpx;
}
.ListUI-view .list-view .list-view-item .right{
     flex:1;
     overflow:hidden;
     flex-direction: column;
}
.ListUI-view .list-view .list-view-item .indexpic-view{
    width:200rpx;
    height:200rpx;
}
.ListUI-view .list-view .list-view-item .indexpic-view image{
    width:100%;
    height:100%;
    display:inline-block;
    overflow:hidden;
    object-fit:contain;
}
.ListUI1-title-view{
    margin: 3px 0 0 10px;
}
.ListUI-view .list-view .list-view-item .price{
    margin-top:30rpx;
    color:brown;
    display:block;
}
.relative {
    position: relative;
}
.extend_view_goods_count button::after{
    border: 0;
}
.extend_view_goods_count .minus{
     width:25px;
     height:25px;
     border-radius:50%;
     background:url('http://qnimg.v2.dingdone.com/minus_normal.png') no-repeat center;
     background-size:22px 22px;
     margin-right: 10px;
 }
 .extend_view_goods_count .minus-hover{
     width:25px;
     height:25px;
     border-radius:50%;
     background:url('http://qnimg.v2.dingdone.com/minus_press.png') no-repeat center;
     background-size:22px 22px;
     margin-right: 10px;
 }
.extend_view_goods_count .plus{
     width:25px;
     height:25px;
     border-radius:50%;
     background:url(http://qnimg.v2.dingdone.com/plus_normal.png) no-repeat center;
     background-size:22px 22px;
     margin-left: 10px;
 }
 .extend_view_goods_count .plus-hover{
      width:25px;
      height:25px;
      border-radius:50%;
      background:url(http://qnimg.v2.dingdone.com/plus_press.png) no-repeat center;
      background-size:22px 22px;
      margin-left: 10px;
  }
.swipe-dots{
    width : 100%;
    position : absolute;
    bottom : 4px;
    right : 10px;
}
.swipe-dots .itemdot{
    margin-left : 3px;
    font-size : 8px;
}
/* 左侧导航 */
.submodule-view{
    width: calc( 100vw * 0.2 );
    margin-right: 10px;
}
.aside-nav{
    width: calc( 100vw * 0.2 );
    height: 100%;
    position: fixed;
}
.aside-nav .list-item{
    text-align: center;
    border-bottom: solid 1px #ebebeb;
}
.aside-nav .list-item-hover{
    text-align: center;
    line-height: calc( 100vh / 12 );
    border-bottom: solid 1px #ebebeb;
    font-size: 14px;
    color: #8b8b8b;
    background: #fff;
}
.aside-nav .list-item::last-child{
    border-bottom: 0;
}
.calculator .count{
    margin-top:3px;
    font-size: 14px;
}
/*购物车组件 shoppingcart-view*/
.shoppingcart-view{
    position:fixed;
    bottom:0;
    width:100%;
    height:55px;
    border-top:1px solid #d0d0d0;
    background:#fff;
}
.shoppingcart-view>view{
    height:100%;
}
.shoppingcart-view .cart-view{
    width:70px;
    margin-right:5px;
}
.shoppingcart-view .cart{
    position:absolute;
    width:50px;
    height:50px;
    border-radius:50%;
    background:url('http://qnimg.v2.dingdone.com/cart.png') no-repeat center #ffc303;
    background-size:30px 24px;
    top:-2px;
    left:12px;
}
.shoppingcart-view .total-view{
    font-size:16px;
    color:#333;
}
.shoppingcart-view .total-view .price{
    color:#fa5555;
    padding-left:8px;
}
.shoppingcart-view .cart-view .count{position:absolute;right:-4px;bottom:-2px;transform:scale(.8);width:22px;height:22px;border-radius:50%;background:#fa5555;color:#fff;text-align:center;line-height:22px;font-size:12px;}
.shoppingcart-view .cart-view::before{
    position:absolute;
    content:"";
    border-radius:50%;
    border:1px solid #d0d0d0;
    width:70px;
    height:70px;
    background-color:currentColor;
    top:-10px;
}
.shoppingcart-view .cart-view::after{
    position:absolute;
    content:"";
    width:75px;
    height:75px;
    background-color:currentColor;
    top:0;
}
.shoppingcart-view .order-view{
    width:100px;
    height:100%;
    background:#ffc303;
    text-align:center;
    color:#333;
    font-size:16px;
}
.shoppingcart-view navigator{
    width:100%;
    height:100%;
}
.shoppingcart-view .navigator-hover{
    background:#e5af03;
}
.empty-view,.more-view{
    text-align:center;
    font-size:12px;
    color:#d0d0d0;
    padding:10px;
}
/* 右箭头 */
/* .arrow{
    float: right;
    background: url('./resources/images/icon/more.png') center no-repeat;
    background-size: 6px 10px;
    width : 6px;
    height : 10px;
} */
/* 关闭 */
/* .close{
    background: url('./resources/images/icon/close.png') center no-repeat;
    background-size: 10px 10px;
    width : 10px;
    height : 10px;
} */
/* 地址选择器样式 */
.select-area{
    width : 100%;
    text-align : center;
    position : fixed;
    bottom : 0;
    background : #fff;
}
.select-area .head{
    line-height : 40px;
    border-top : solid 1px #ebebeb;
    border-bottom : solid 1px #ebebeb;
    text-align:left;
    padding : 0 20px;
}
/* 筛选器 */
.dropdownarrow{
    border: 1px solid transparent;
    border-top-width: 6px;
    border-left-width: 6px;
    border-right-width: 6px;
    border-top-color: #ebebeb;
    position : absolute;
    top:50%;
    margin:-3px 0 0 3px;
}
.dropuparrow{
    border: 1px solid transparent;
    border-bottom-width: 6px;
    border-left-width: 6px;
    border-right-width: 6px;
    border-bottom-color: #ebebeb;
    position : absolute;
    top:50%;
    margin:-5px 0 0 5px;
}
.filter_menuinput{
    color: currentColor;
}
.overflow{
    max-width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.usericon{
    width : 30px;
    height : 30px;
    background:url('http://qnimg.v2.dingdone.com/material/2017/02/15/14871460134582.png?imageView2/1/w/178/h/178') no-repeat center #6bc1f2;
    background-size:30px 30px;
    position : fixed;
    bottom : 80px;
    right : 10px;
    border-radius : 50%;
}
/*促销组件*/
.promition_main{
  margin: 5px 3px 200px 3px;
  border-top:1px solid #ebebeb;
  border-bottom:1px solid #ebebeb;

}
.title_price,.title_priceview{
  padding:0!important;
  padding-top:10px!important;
  padding-bottom: 5px!important;

}

/* 价格扩展字段 */
.soldout{font-size:12px;margin-right:20px;color:#999;}
.price-origin{color:#999;text-decoration: line-through;font-size:12px;padding:0 3px;}
.price-discount{color:#fff;display:inline-block;padding:2px 3px;border-radius:4px;background:#fc535a;font-size:10px;}

/* 评论列表 */
.comment-box{line-height:1;}
.comment-box .title{font-size:14px;color:#333;}
.comment-box .comment-list{margin:17px 0 10px;border-top:1px solid #ccc;}
.comment-box .comment-item{padding:5px 0 6px;border-bottom:1px solid #ccc;}
.comment-box .user-head{width:24px;height:24px;margin-right:5px;border-radius:50%;overflow:hidden;}
.comment-box .user-head image{width:24px;height:24px;}
.comment-box .user-name{font-size:14px;color:#999;}
.comment-box .comment{margin:10px 0;font-size:14px;color:#333;}
.comment-box .time{font-size:12px;color:#999;}
.comment-box .more{height:40px;line-height:40px;border:1px solid #ccc;border-radius:3px;text-align:center;font-size:16px;color:#999}
.comment-box .send-box{position:fixed;bottom:0;left:0;width:100vw;padding:5px;border-top:1px solid #ccc;background:#eee;}
.comment-box .send-box textarea{border:1px solid #ccc;background:#fff;margin-right:10px;}

/* 编辑器占位 */
.editor-placeholder .line{width:750rpx;height:15px;border-radius:10px;background: #f3f3f3;margin-bottom: 15px;}
.editor-placeholder .line2{width: 500rpx;}
.editor-placeholder .pic {width: 750rpx;height: 150px;background: #f3f3f3;}

/*索引图视图*/
.indexpic-view{overflow:hidden;}
.indexpic-view image{width:100%;height:100%;box-sizing:border-box;}
/** 浮动的公用样式 */
.indexpic_float_container, .item_float_container, .tile_container{pointer-events:none;position: absolute!important;top: 0;left: 0;width: 100%!important;height: 100%!important;background: rgba( 255,255,255,0)!important}
.absolute{
  position: absolute;
  z-index:2;
}
.bottom-20{
  bottom: 0rpx;
  width: 100%;
}
.bottom-20 view{
  width: 100%!important;
  height: 100%!important;
  margin: 0!important;
}
.bottom-nav3{
  bottom: 0rpx;
  width: 100%;
}
/*显示引号*/
.txt-overflow{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
/*清除末尾的样式*/
.clearLastStyle:last-child{
  margin: 0 !important;
  padding:0 !important;
  border-right:0 !important
}
/*遮罩*/
.thumbnail{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}
/*省略号*/
.ellipsis::after {
  content:"...";
  font-weight:bold;
  position:absolute;
  bottom:10px;
  right:0;
  padding:0 10px 1px 45px;
   background:url(http://css88.b0.upaiyun.com/css88/2014/09/ellipsis_bg.png) repeat-y;
}
/*隐藏水平滚动*/
::-webkit-scrollbar{
  width: 0;
  height: 0;
  background: transparent;
}
/** 底栏组件 */
.detail_component_bottombar{
    position: fixed;
    bottom: 0;
}
/** 浮动组件 */
.float_component{
    position:absolute;
    left:0;
    width:100%;
    display:flex;
}
/** enter_audio */
.enter_audio{
  position: absolute;
  width: 30px;
  height: 30px;
  background: green;
  top: 0;
  right: 0;
}
/** share button */
.shareButton{
    background:transparent;
    border:0;
    color:transparent;
    box-shadow:none;
    position:absolute;
    margin:0!important;
    padding:0!important;
    top:0;
    left:0;
    opacity:0;
}
contact-button {
    z-index:201;
    opacity:0;
}
.contact-button {
    z-index:201;
    opacity:0;
    width:100%;
    height:100%;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
}
.skuPanel {
    border-top:solid 1px #e6e6e6;
    background:#fff;
    position:fixed;
    bottom:0;
    width:100%;
    font-size:14px;
    text-align:left;
    color : #727272;
    z-index:200;
}
.skuPanel .disabled{
    background:#ebebeb!important;
    pointer-events:none;
}
.disabled-count{
    pointer-events:none;
    color:#cccccc;
}
.showPop{
    position:fixed;
    bottom:0;
    width:100%;
    background:#fff;
    max-height:70vh;
    overflow:auto;
}
.shadow{
    position : absolute;
    width : 100%;
    height : 100%;
    bottom:0;
    background : rgba(0,0,0,.3);
}
.mask_view{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
}
.skuPanel .indexpic{
    position : absolute;
    left : 5px;
    top : -20px;
    width : 70px;
    height : 70px;
    border-radius : 3px;
    border : solid 1px #f7e4de;
}
.skuPanel .sku {
    margin : 0 10px;
    padding : 10px 0;
    border-bottom : solid 1px #dbdbdb;
}
.skuPanel .count{
    color:#333333;
}
.skuPanel .buy_quota{
    font-size:12px;
    color:#ccc;
    line-height:40px;
    margin-left:5px;
}
.skuPanel .count .btn{
    width : 60rpx;
    height : 60rpx;
    color : #b4b4b4;
    text-align : center;
    line-height : 60rpx;
}
.skuPanel .edit_btn_style0{
    width: 200rpx;
    border:solid 1px #fff;
    border-radius:3px;
    background:#f1f0f1;
}
.skuPanel .edit_btn_style1{
    width: 200rpx;
    border:solid 1px #ccc;
    border-radius:3px;
    background:#fff;
}
.skuPanel .count .number{
    width:90rpx;
    line-height:60rpx;
    text-align:center;
}
.skuPanel .edit_btn_style1 .minus{
    border-right:solid 1px #ccc;
}
.skuPanel .edit_btn_style1 .plus{
    border-left:solid 1px #ccc;
}
.skuPanel .edit_btn_style0 .minus{
    background:#f8f9f8;
    border-radius:3px 0 0 3px;
    border-right:solid 1px #fff;
}
.skuPanel .edit_btn_style0 .plus{
    border-left:solid 1px #fff;
    border-radius:0 3px 3px 0;
    background:#f1f0f1;
}
.skuPanel .add{
    text-align : center;
    line-height : 46px;
    background : #ff4c52;
    color : #fff;
}
.play{
    position:absolute;
    width:50px;
    height:50px;
    top:calc( 50% - 25px );
    left:calc( 50% - 25px );
}
/* 加载更多 */
.loading-bar{height:100rpx;text-align:center;line-height:100rpx;color:#ccc;font-weight:100;font-size:14px;}

/* 固定层级控制处 😄 */
.float_component{
    z-index:101;
}
.shadow{
    z-index:199;
}
.ListUI16 .otherIndexfix{
 z-index: 100;
}
.sideslip_widget .stylefix{
  z-index:100;
}
.tag_2_widget .iconfix{
  z-index:100;
}
.filter_node .stylefix{
 z-index:10;
}
.submodulesbox1{
    z-index:1000;
}
.zIx100{
  z-index: 100;
}
.aside-nav{
    z-index: 1;
}
.shoppingcart-view{
    z-index:1;
}
.shoppingcart-view .cart{
    z-index:3;
}
.shoppingcart-view .cart-view::before{
    z-index:1;
}
.shoppingcart-view .cart-view::after{
    z-index:2;
}
.select-area{
    z-index : 4;
}
.usericon{
    z-index : 3;
}
.indexpic_float_container, .item_float_container, .tile_container{
	z-index: 100;
}
.enter_audio{
  z-index: 999999;
}
.skuPanel {
    z-index:200;
}
.showPop{
    z-index:200;
}
.mask_view{
    z-index:199;
}
.shareButton{
    z-index:201;
}
/* 固定层级控制处 💗 */

/*筛选器组件公共样式*/
.filter_menu .posfix{
  position: fixed;
  top:0;
  left:0;
}

.filter_menu .gou{
  width:50rpx;
  text-align: center;
}

/* 布局公用样式 */
.linear_layout{pointer-events:auto;max-width:100%;/*overflow-x:hidden; 注意不能直接给linear_layout加overflow，会引起莫名bug*/}
.frame_layout{flex-direction:column;}
.frame_layout>.linear_layout{position: absolute!important;align-self: auto!important;}
.frame_layout>.linear_layout.layout_gravity_top{top:0;}
.frame_layout>.linear_layout.layout_gravity_bottom{bottom:0;}
.frame_layout>.linear_layout.layout_gravity_center_vertical,
.frame_layout>.linear_layout.layout_gravity_left{position:absolute!important;top:50%;left: 50%;transform: translate(-50%,-50%);}
/*-- layout_gravity在父容器中对齐 | gravity子控件对齐 | orientation线性方向 --*/
/* 垂直扩展行 */
.linear_layout.orientation_vertical{flex-direction:column;justify-content:center;}
.linear_layout.orientation_vertical .layout_gravity_right{align-self: flex-end;}
/* 水平扩展行 */
.linear_layout.orientation_horizontal{justify-content:center;align-items:center;}
.linear_layout.orientation_horizontal.gravity_left{justify-content:flex-start;}
.linear_layout.orientation_horizontal.gravity_right{justify-content:flex-end;}
/* 水平扩展行内的控件 */
.linear_layout.orientation_horizontal .layout_gravity_top{align-self: flex-start;}
.linear_layout.orientation_horizontal .layout_gravity_center_vertical{align-self:center}
.linear_layout.orientation_horizontal .layout_gravity_bottom{align-self: flex-end;}

/* 浮动布局组件 */
.float_component .float_layout_top{top:0;position:absolute!important;}
.float_component .float_layout_bottom{bottom:0;position:absolute!important;}
.float_component .float_layout_center_vertical{top:50%;transform: translate(-50%, -50%);}

/* 浮动组件的占位 */
.float-component-placeholder{opacity: 0;}
.float-component-placeholder-item{position: relative;}
.float-component-placeholder-item .float_component{position: relative!important;}

/* 控件公用样式 */
.static_text_view{box-sizing: border-box;}

/*------等高导航器 start--------*/
.navigator2 .mainview{
    display:inline-block;
}

.navigator2 .borderline{
    overflow:hidden;
    width: 100%;
}


.navigator2 .indexpictitle2{
   position:absolute;
   bottom:0;
}

.navigator2 .indexpictitle10{
   position:absolute;
}

/*------等高导航器 end--------*/


/*--------图集列表 start-----------*/
.ListUI16 .indexfix{
  height:'97.5%';
  margin-right:'10rpx';
  /* z-index: 100; */
}

.ListUI16 .indexHaveImgList{
  margin-right:5px;
}

.ListUI16 .indexNotHaveImgList{
  margin-right:0px !important;
  width:100% !important;
}
.ListUI16 .indexImg{
  width: 100%;
  height: 100%;
}

.ListUI16 .indexInnerViewStyle{
  width: 100%;
  height: 100%;
  flex:1;
  display:inline-flex;
  flex-direction:column;
}

.ListUI16 .otherIndexfix{
 width:98%;
 flex: 1;
}
.ListUI16 .otherIndexmb10{
 margin-bottom:5px;
}

.ListUI16 .otherIndexmb0{
 margin-bottom:0px;
}

.ListUI16 .indexText
{
  position:absolute;
  top:45%;
  left:45%;
  font-size:14px;
  color:white;
}
/*--------图集列表 end-----------*/

/*--------多图横滑 start-----------*/
.sideslip_widget .stylefix{
  overflow-x:auto;
}
/*--------多图横滑 end-----------*/

/*------标准列表导航器 start--------*/
.navigator1 .mainview{
    display:inline-block;
    width: 100%;
}

.navigator1 .borderline{
    overflow:hidden;
    width: 100%;
}
/*------标准列表导航器 end--------*/

/*------图标式标签 start--------*/
.tag_2_widget .iconfix{
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.tag_2_widget .asidefix{
  display: flex;
  overflow: hidden;
  flex-flow: row wrap;
}
/*------图标式标签 end--------*/

/*------富文本 start--------*/
.richtext_view .stylefix{
  width:100%;
}

.richtext_view .collapsefix{
  height:60rpx;
  background-size:cover;
}

.richtext_view .droptext{
  left:49%;
}
.richtext_view image{vertical-align: middle;transition:all .1s;max-width:100%;}
.richtext_view {max-width:100%;}

/*------富文本 end--------*/

/*------栏目栏 start--------*/
.filter_node .stylefix{
 position:fixed;
 top:0;
 left:0;
}

.filter_node  .scrollview_fix{
  width:100%;
  overflow: auto;
}

.filter_node .nodeItem,
.filter_node .nodeItemActive{
  min-width:95px;
}

.filter_node .nodeTextHeight{
  line-height: 1;
}
/*------栏目栏 end--------*/

/*------分类菜单组合页 start--------*/
.submodules3 .scorllHeight{
  max-height: 100vh;
}

.submodules3 .dividerfix{
  width: 100%;
  bottom: 0;
}

.submodules3 .dividerAct{
  margin: 0;
}

.submodules3 .dividerNoAct{
  background: transparent !important;
}

.submodules3 .fixpos{
  position:fixed;
  top:0;
  left:0;
}
/*------分类菜单组合页 end--------*/

/*------栏目栏组合页模板 start--------*/
.submodulesbox1{
    position:fixed;
    bottom:0;
    left:0;
}

.submodules2 .box_laytout{
  position:fixed;
  z-index:1000
}
/*------栏目栏组合页模板 end--------*/




/*------侧边栏目栏组件 start--------*/
.left_filter_node .posfix{
    position:fixed;
    top:0;
    left:0;
}

.left_filter_node .itemcontentPos{
  width:100%;
  height:100%;
  align-items:center;
}

.left_filter_node .rectfix{
  width:100%;
  height:100%;
  overflow:hidden;
}
.left_filter_node .textwrapfix{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}
/*------侧边栏目栏组件 end--------*/


/*错位组件样式 start--------*/
.Dislocate .titewrap{
    position:absolute;
    z-index:999;
}

.Dislocate .titewrap_4,.Dislocate .titewrap_5{
    order: -1;
}

.Dislocate .indexpicwrap_4,.Dislocate .indexpicwrap_5{
    order: -2;
}
/*错位组件样式 end--------*/

/*列表搜索组件 start--------*/
.list_search .search_bar_1{
    justify-content: flex-start;
}

.list_search .search_bar_2{
    justify-content: flex-end;
}

.list_search .search_bar_3,.list_search .search_bar_6,.list_search .search_bar_7{
    justify-content: center;
}

.list_search .search_bar_4{
    justify-content: space-between;
}

.list_search .search_bar_5{
    justify-content: space-between;
    flex-direction: row-reverse;
}

.list_search .search_icon_left{
  position: absolute;
  left: 0;
}

.list_search .search_icon_right{
  position: absolute;
  right: 0;
}

.list_search .search_bar_fix{
  padding: 0 2px;
}
/*列表搜索组件 end--------*/

/*搜索控件 start--------*/
.search_widget .search_bar_1{
    justify-content: flex-start;
}

.search_widget .search_bar_2{
    justify-content: flex-end;
}

.search_widget .search_bar_3,.search_widget .search_bar_6,.search_widget .search_bar_7{
    justify-content: center;
}

.search_widget .search_bar_4{
    justify-content: space-between;
}

.search_widget .search_bar_5{
    justify-content: space-between;
    flex-direction: row-reverse;
}

.search_widget .search_icon_left{
  position: absolute;
  left: 0;
}

.search_widget .search_icon_right{
  position: absolute;
  right: 0;
}

.search_widget .search_bar_fix{
  padding: 0 2px;
}
/*搜索🈳控件 end--------*/

/*表单组件新页面样式 start--------*/
.formcomponent_newpage_bg{
  background: #ccc;
  width: 100vw;
  height: 100vh;
}
.formcomponent_arrow_fix{
  position:relative;
  right:2px;
}
.formcomponent_node_flow{
  height: 20px;
  overflow-y: auto;
}
/*表单组件新页面样式 end--------*/
