/* 栏目栏样式 */

#de41402f7867f48d0a2ba89af5f9f7f9c .filter_node_box{
  width:100%;
  height:calc( 83px / 2);
  background:rgba(255,255,255,1);
  margin-left:0px;
  margin-right:0px;
  color:rgba(68,68,68,1);
  font-size:14px;
  border-top:none;
  border-right:none;
  border-bottom:none;
  border-left:none;
  border-radius:0px;
}


#de41402f7867f48d0a2ba89af5f9f7f9c .filter_node_space{
  height:calc( 87px / 2);
}

#de41402f7867f48d0a2ba89af5f9f7f9c .filter_node_item,
#de41402f7867f48d0a2ba89af5f9f7f9c .filter_node_itemActive{
  font-size: 14px;
}

#de41402f7867f48d0a2ba89af5f9f7f9c .filter_node_item{
  margin-right:0;
}


#de41402f7867f48d0a2ba89af5f9f7f9c .filter_node_itemActive{
  margin-right:0;
  border-bottom:4px solid rgba(255,39,65,1);
  background:none;
  color:rgba(255,39,65,1);
}

#de41402f7867f48d0a2ba89af5f9f7f9c .filter_node_imageItem{
  padding: 0 0 0 0;
  width:14px;
}
