#d1e0954d273b24b88874cd8c8abc44a7c .over-y{
	overflow-y: scroll
}
#d1e0954d273b24b88874cd8c8abc44a7c .leftfilternode_parentcommon{
	width: 100px;
	height:100vh;
	background:rgba(246,246,246,1);
}

#d1e0954d273b24b88874cd8c8abc44a7c .leftfilternode_parentstyle{
	border-width: 0;
	border-color:transparent;
	border-style:solid;
	padding:0 0 0 0;
}


#d1e0954d273b24b88874cd8c8abc44a7c .leftfilternode_itemcontainer{
	width:100%;
	height:50.0px;
}

#d1e0954d273b24b88874cd8c8abc44a7c .leftfilternode_itemcontentActive{
	background: rgba(255,255,255,1);
}


#d1e0954d273b24b88874cd8c8abc44a7c .leftfilternode_itemdivider{
	width:100%;
	height:0.5px;
	background:rgba(214,214,214,1);
	margin:0 0 0 0;
}


#d1e0954d273b24b88874cd8c8abc44a7c .leftfilternode_itemcursor{
	width: 4px;
	height:50px;
	background: rgba(247,199,51,1);
}

#d1e0954d273b24b88874cd8c8abc44a7c .leftfilternode_itemcursorRect{
	margin: 0px auto;
}

#d1e0954d273b24b88874cd8c8abc44a7c .leftfilternode_itemfont{
	font-size: 14px;
	color: rgba(68,68,68,1);
}


#d1e0954d273b24b88874cd8c8abc44a7c .leftfilternode_itemfontActive{
	font-size: 14px;
	color: rgba(68,68,68,1);
}
#d1e0954d273b24b88874cd8c8abc44a7c .leftfilternode_itemimage{
	width: 20.0px;
	height: 25.0px;
}

#d1e0954d273b24b88874cd8c8abc44a7c .leftfilternode_textwrap{
	line-height:50.0px;
}