  /*等高导航器*/

/*垂直分割线*/
#d355daec151ca4a98a9af5791b123c6e9 .vertical_line{
    display:inline-block;
    margin:0 0 0 0;
    height:100%;
    width:15px;
    background: rgba(255,255,255,1);
    /*padding-top:calc( (100vh +13rpx) /4 - 30rpx );*/
}
#d355daec151ca4a98a9af5791b123c6e9 .navigator2mainview{width:100%;overflow:hidden;}
#d355daec151ca4a98a9af5791b123c6e9 .list-width-item{width:calc( ( 100% + 15px ) / 4 );display:flex;}
#d355daec151ca4a98a9af5791b123c6e9 .navigator2view{
  width:calc(100% - 20px );
  margin: 10px 10px 0 10px;
  display:flex;
  flex-wrap:wrap;
  background: rgba(255,255,255,1);
}
#d355daec151ca4a98a9af5791b123c6e9 .navigator2item{text-align:center;box-sizing:border-box;width:calc(  100% - 15px );}


#d355daec151ca4a98a9af5791b123c6e9 .list_otherwidth{width: 100%!important;}
#d355daec151ca4a98a9af5791b123c6e9 .listui4itemwidthdel{width:calc( ( 100% - 45px ) / 4 );}
#d355daec151ca4a98a9af5791b123c6e9 .horizontal_line{border-bottom:0px solid rgba(243,243,243,1);margin: 0 0 0 0;width:calc( 100% - 0px );}
/*列表项*/
#d355daec151ca4a98a9af5791b123c6e9 .listitemview{
   background: rgba(255,255,255,1);
   background-size: contain;
   padding:0 0 0 0;
   border-radius:0.0px;
   border-width:0;
   border-color:transparent;
   border-style:solid;
}

/*列表标题*/
#d355daec151ca4a98a9af5791b123c6e9 .listitemtitle{
      min-height: 15px;
      background: rgba(255,255,255,0.00);
      display:block;
      color: rgba(51,51,51,1);
      margin:0 0 0 0;
      padding:0 0 0 0;
      font-weight:normal;
}

 /*列表字行数*/
#d355daec151ca4a98a9af5791b123c6e9  .itemtitle{
      max-width: 100%;
      white-space:nowrap;
      line-height:13px;
      overflow:hidden;
      max-height: 15px;
      text-align:center;
 }

 /*列表字*/
#d355daec151ca4a98a9af5791b123c6e9 .title{
       font-size:13px;
       text-shadow:none;
}

/*索引图*/
#d355daec151ca4a98a9af5791b123c6e9 .indexpic{
     width:calc( 100% );
     margin:auto;
     padding-top:calc( 100% );
     position:relative;
     height:0;
}

#d355daec151ca4a98a9af5791b123c6e9 .indexpicimage{
    border-radius:0.0px;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

/*图片中标题位置*/
#d355daec151ca4a98a9af5791b123c6e9 .indexpictitle{
   width: 100%;
   background:rgba(255,255,255,0.00);
}

/*遮罩*/
#d355daec151ca4a98a9af5791b123c6e9 .indexpicmask{
    width:100%;
    height:100%;
    top: 0;
    position:absolute;
    display: none;
    background: rgba(0,0,0,0.00);
}

/*组件头*/
#d355daec151ca4a98a9af5791b123c6e9 .header{
      display:block;
      background:rgba(255,255,255,1);
      margin:0 0 0 0;
      text-align: center;
      height: calc( 10vw );
      line-height:calc( 10vw );
}

#d355daec151ca4a98a9af5791b123c6e9  .headertitle{
      width:100%;
      margin:0 0 0 0;
      white-space: nowrap;
      color:rgba(68,68,68,1);
      font-size:14px;
}

/*列表描述*/
#d355daec151ca4a98a9af5791b123c6e9 .listitemdescribe{
      background:rgba(255,255,255,1);
      display: block;
      color:rgba(136,136,136,1);
      padding:0 0 0 0;
      font-weight:normal;
}



#d355daec151ca4a98a9af5791b123c6e9 .itemdescribe{
      max-width:100%;
      font-size:12px;
      white-space:nowrap;
      line-height:12px;
      overflow:hidden;
      text-overflow:ellipsis;
      max-height: 14px;

}