//购物车控件

/* 外框样式 */
.shopcar_widget{
	border-width:0;
	border-color:transparent;
	border-style:solid;
	background: rgba(0,0,0,0.00);
	border-radius: none;
	box-shadow: none;
	margin:0 0 0 0;
	padding:0 0 0 0;
}
/* 购物车文本内容*/
.number_text{
	margin: 0 4px 0 4px;
	font-size: 14px;
	color: rgba(106,106,106,1);
	line-height: 14px;
}
/* 购物车按钮*/
.number_btn_add{
  width: 25px;
  height: 25px;
  background:url(http://resource.ddapp.com/app/dd_u_484182e0707846b0b80b6a15472d9b63.png) no-repeat center;
  background-size:25px 25px;
  z-index:201;
}
.number_btn_add_hover{
  background:url(http://resource.dingdone.com/images/dds_91f744b407bd40e1869390e5eac36533.png) no-repeat center;
}
.number_btn_cut{
  width: 25px;
  height: 25px;
  background:url(http://resource.ddapp.com/app/dd_u_3593bd4219cd4f85820fe39573eb88d3.png) no-repeat center;
  background-size:25px 25px;
  z-index:201;
}
.number_btn_cut_hover{
  background:url(http://resource.dingdone.com/images/dds_3a64fe4c2f78486e90bb5b759f937a6a.png) no-repeat center;
}
.number_btn_hide{
  pointer-events: none;
}