/*幻灯*/
/*主外框*/
#dbcfea849886c41529011f3a567116a80 .slideritem{
	background:none;
	margin: 0 0 0 0;
	padding: 0 8px 0 6px;
	border-width:0;
	border-color:transparent;
	border-style:solid;
}

/*swiper0*/
#dbcfea849886c41529011f3a567116a80 .swiper0{
  height:calc( 26vw );
}

/*img*/
#dbcfea849886c41529011f3a567116a80 .img{
  width:100%;
  height:calc( 26vw );
  border-radius: 4.0px;
}


/*swiper1*/
#dbcfea849886c41529011f3a567116a80 .swiper1{
  height:calc(26vw + 0px);
}

/*swiper2*/
#dbcfea849886c41529011f3a567116a80 .swiper2{
  height:calc(26vw + 44px);
}

/*swiper3*/
#dbcfea849886c41529011f3a567116a80 .swiper3{
  height:calc(26vw + 0px);
}

/*indexpictitle0*/
#dbcfea849886c41529011f3a567116a80 .indexpictitle0{
    width: 100%;
    position: absolute;
    bottom: 0px;
}

/*indexpictitle1*/
#dbcfea849886c41529011f3a567116a80 .indexpictitle1{
    width: 100%;
    position: absolute;
    bottom: 0px;
}

/*indexpictitle2*/
#dbcfea849886c41529011f3a567116a80 .indexpictitle2{
    width: 100%;
    position: absolute;
    top:calc( 26vw );
}

/*indexpictitle3*/
#dbcfea849886c41529011f3a567116a80 .indexpictitle3{
    width: 100%;
    position: absolute;
    bottom: 0px;
}


#dbcfea849886c41529011f3a567116a80 .indexcurrent{
     display: none;
     width:calc( 100% - 14px );
     right:8px;
     bottom:0px;
     position:absolute;
     padding:5px 0 5px 0;
     margin:0 0 0 0;
     background:rgba(68,68,68,0.33);
}

/*indexcurrent3指示器*/
#dbcfea849886c41529011f3a567116a80 .indexcurrent3{
     bottom: 0px;
}

/*slider*/
#dbcfea849886c41529011f3a567116a80 .slider{
   color:rgba(255,255,255,1);
  font-size:5.0px;
  justify-content:center;
}



/*遮罩*/
#dbcfea849886c41529011f3a567116a80 .indexpicmask{
  width:100%;
  height:100%;
  top: 0;
  position:absolute;
  display: none;
  background: rgba(0,0,0,1);
  border-radius: 4.0px;
}


/*current*/
#dbcfea849886c41529011f3a567116a80 .current{
   color:rgba(247,199,51,1);
}

/*pre*/
#dbcfea849886c41529011f3a567116a80 .pre{
   color:rgba(255,255,255,1);
   padding-right:3px;
   padding-left:3px;
}

/*列表标题*/
#dbcfea849886c41529011f3a567116a80 .listitemtitle{
    min-height:18px;
    background: rgba(68,68,68,0.33);
    display: none;
    color: rgba(255,255,255,1);
    margin: 0 0 0 0;
    font-weight:normal;
}


/*列表字行数*/
#dbcfea849886c41529011f3a567116a80 .itemtitle{
    max-width:100%;
    white-space:nowrap;
    line-height:16px;
    overflow: hidden;
    padding:4px 8px 4px 8px;
    text-overflow: ellipsis;
    max-height:18px;
    text-align: left;
}

/*列表字*/
#dbcfea849886c41529011f3a567116a80 .title{
    font-size:8px;
    text-shadow:none;
}

/*索引图*/
#dbcfea849886c41529011f3a567116a80 .indexpic{
    width: 100%;
    height: calc( 26vw );
}





/*组件头-标题*/
#dbcfea849886c41529011f3a567116a80 .headheadertitleertitle{
    width: 100%;
    color:rgba(68,68,68,1);
    font-size:14px;
    white-space:nowrap;
     margin:0 0 0 0;
}