@import "../common/uikit.scss";

$formHeight:40px;
$registerWrap:#fafafa;
$registerPlaceholder:#e9e9e9;
$registColor:#8cdef9;
$tipColor:#999;

.register_wrap{
	background: $registerWrap;
	height:100vh;
	.register_title{
		padding:10px 0;
		font-size: 20px;
		font-weight: 300;
		text-align: center;
		border-bottom: 1px solid $defaultBorderColor;
	}
	.form_wrap{
		padding:10px 10px 0;
		.phone{
			width:100%;
			height:$formHeight;
			border:1px solid $defaultBorderColor;
			border-radius:5px;
			background:white url("../../assert/login/phone.png") no-repeat 10px center;
			background-size:20px;
			input{
				font-size: 12px;
				margin-left: $formHeight;
				width:calc( 100% - 50px );
				height:100%;
				border:none;
				background:transparent;
				&::-webkit-input-placeholder {
				  color: $registerPlaceholder;
				}
			}
		}
		.agree{
			padding:20px 0;
			.van-checkbox__control:checked+.van-icon-success{
				border-color: $registColor;
				background-color: $registColor;
			}
			p{
				font-size: 13px;
				font-weight: 300;
				color:$tipColor;
				span{
					color: $registColor;
				}
			}
		}
		.register_btn{
			width:100%;
			height: $formHeight;
			color: white;
			background:black;
			border-radius:5px;
			text-align: center;
			line-height: $formHeight;
			font-size: 16px;
			font-weight: normal;
			border:none;
		}
		.forgetPassword{
			font-size:14px;
			font-weight: 400;
			padding-top:10px;
		}
	}
}

