@import "../common/uikit.scss";

$formHeight:40px;
$loginWrap:#fafafa;
$logonPlaceholder:#e9e9e9;

.setpass_wrap {
	background:$loginWrap;
	height:100vh;
	.setpass_title{
		padding:10px 0;
		font-size: 20px;
		font-weight: 300;
		text-align: center;
		border-bottom: 1px solid $defaultBorderColor;
	}
	.form_wrap{
		padding:30px 10px 0;
		.tipinfo{
			font-size: 16px;
			font-weight: 400;
			color:black;
			text-align: center;
			margin-bottom: 30px;
		}
		.newpassword_0,.newpassword_1,.verifynumber{
			width:100%;
			height:$formHeight;
			border:1px solid $defaultBorderColor;
			border-radius:5px;
			margin-bottom: 5px;
			input{
				font-size: 12px;
				margin-left: $formHeight;
				width:calc( 100% - 95px );
				height:100%;
				border:none;
				background:transparent;
				&::-webkit-input-placeholder {
				  color: $logonPlaceholder;
				}
			}
		}
		.newpassword_0,.newpassword_1{
			background:white url("../../assert/login//pass.png") no-repeat 10px center;
			background-size:20px;
		}
		.newpassword_1{
			margin-bottom: 10px;
		}
		.verifynumber{
			position:relative;
			background:white url("../../assert/login//verify.png") no-repeat 10px center;
			background-size:20px;
			p{
				position:absolute;
				right:0;
				top:0;
				font-size: 12px;
				color: #999;
				height: 100%;
				line-height: $formHeight;
				margin-right: 5px;
				font-weight: 300;
			}
		}
		.setpass_btn{
			width:100%;
			height: $formHeight;
			color: white;
			background:black;
			border-radius:5px;
			text-align: center;
			line-height: $formHeight;
			font-size: 16px;
			font-weight: normal;
			border:none;
		}
	}

}


