/* 积分储值 */
.modulecharge{
    font-size : 14px;
    color : #484848;
    position : relative;
    background:#e0e0e0;
    min-height:100vh;
    .head{
        display: flex;
        flex-flow: column nowrap;
        border:solid 1px #ebebeb;
        height:150px;
        text-align:center;
        background:#ffffff;
        &>div{
            margin:auto;
        }
        .link{
            color:#14a7ff;
            text-align:center;
        }
        .total{
            font-size:44px;
            &>div{
                margin:auto;
            }
            .price{
                font-size:14px;
            }
        }
        .tip{
            color:#999999;
        }
    }
    .title{
        font-size:14px;
        line-height:35px;
        height:35px;
        padding-left:15px;
        color:#666666;
    }
    .list{
        font-size:14px;
        color:#333333;
        background:#fff;
        .item{
            height:55px;
            padding:0 15px;
            line-height:55px;
            border-bottom:solid 1px #ebebeb;
            .icon{
                width:20px;
                height:20px;
                border-radius:50%;
                background:url(https://static-public.ddapp.com/weixin/images/module-charge.png) no-repeat center center;
                background-size:20px 20px;
                margin:0 10px 5px 0;
            }
            .btnbuy{
                width:60px;
                height:20px;
                line-height:20px;
                border-radius:20px;
                background:#fab11b;
                color:#fff;
                text-align:center;
            }
        }
    }
    .foot{
        font-size:14px;
        padding:20px 15px;
        color:#999999;
        line-height:20px;
    }
}
.nodata{
    text-align:center;
    padding:30px;
    font-size:20px;
    color:#999999;
    background:#fff;
}

