#{{view_id}} .navigator2mainview{
  width:100%;overflow:hidden;
  .navigator2view{
    width:{{listui4width|vertical_divider_margin}};
    margin: {{margin|margin}};
    display:flex;
    flex-wrap:wrap;
    background: {{advanceBg|itemNorBg}};
    .list-width-item{
      width:{{listui4itemwidth|eachLineCount}};
      display:flex;
    }
    .navigator2item{
      text-align:center;
      box-sizing:border-box;
      width:{{listdevwidth|vertical_divider_width}};
    }
    .list_otherwidth{
      width: 100%!important;
    }
    .listui4itemwidthdel{
      width:{{listui4itemwidthdel|eachLineCount}};
    }
    .listitemview{
       background: {{advanceBg|itemNorBg}};
       background-size: contain;
       padding:{{padding|itemPadding}};
       border-radius:{{cornerRadius}}rpx;
       border-width:{{borderWidth|item_border}};
       border-color:{{borderColor|item_border}};
       border-style:solid;
       /*列表标题*/
       .listitemtitle{
          min-height: {{navminheight|title_textSize,title_lineNum}};
          background: {{formatColorToRgba|title_textBgColor}};
          display:{{isVisiable|title_isVisiable}};
          color: {{formatColorToRgba|title_textColor}};
          margin:{{margin|title_margin}};
          padding:{{padding|title_padding}};
          font-weight:{{isBold|title_bold}};
           /*列表字行数*/
           .itemtitle{
              max-width: 100%;
              white-space:{{isWrap|title_lineNum}};
              line-height:{{title_textSize}}px;
              overflow:hidden;
              max-height: {{navminheight|title_textSize,title_lineNum}};
              text-align:{{textAlign|title_textAlignment}};
           }
           .title{
              font-size:{{title_textSize}}px;
              text-shadow:{{shadow_old|title_shadowEffect,title_shadowDirection,title_vOffset,title_hOffset,title_shadowColor,title_shadowRadius}};
          }
      }
      /*索引图*/
      .indexpic{
         width:{{getnavindexpicWidth|indexPic_fatherScale}};
         margin:auto;
         padding-top:{{getnavindexpicHeights|indexPic_fatherScale,indexPic_whScale}};
         position:relative;
         height:0;
         .indexpicimage{
           border-radius:{{indexPic_Radius}}rpx;
           position: absolute;
           left:0;
           top:0;
           width:100%;
           height:100%;
         }
         .indexpicmask{
           width:100%;
           height:100%;
           top: 0;
           position:absolute;
           display: {{isVisiable|indexPic_isMask}};
           background: {{formatColorToRgba|indexPic_maskBg}};
         }
      }
      /*图片中标题位置*/
      .indexpictitle{
        width: 100%;
        background:{{formatColorToRgba|title_textBgColor}};
      }
      .listitemdescribe{
        background:{{formatColorToRgba|brief_textBgColor}};
        display: {{isVisiable|brief_isVisiable}};
        color:{{formatColorToRgba|brief_textColor}};
        padding:{{padding|brief_padding}};
        padding-bottom:{{desbottom|style}};
        font-weight:{{slidertitlebold|brief_bold}};
        .itemdescribe{
          max-width:100%;
          font-size:{{brief_textSize}}px;
          white-space:{{isWrap|brief_lineNum}};
          line-height:{{brief_textSize}}px;
          overflow:hidden;
          text-overflow:ellipsis;
          max-height: {{navminheight|brief_textSize,title_lineNum}};
          text-align: {{textAlign|desc_text_alignment}};
        }
      }
    }
    .horizontal_line{
      border-bottom:{{divider_height}}px solid {{formatColorToRgba|divider_bg}};
      margin: {{margin|divider_margin}};
      width:{{listui4horizonwidth|divider_margin}};
    }
    /*垂直分割线*/
    .vertical_line{
      display:inline-block;
      margin:{{margin|vertical_divider_margin}};
      height:100%;
      width:{{navwidth|vertical_divider_width}};
      background: {{formatColorToRgba|vertical_divider_bg}};
    }
  }

}
#{{view_id}} .header{
      display:{{isDisplay|header_visible,flex}};
      background:{{advanceBg|header_bg}};
      margin:{{margin|header_margin}};
      text-align: {{textAlign|header_title_textAlignment}};
      height: {{swiperHeight|header_whScale}};
      line-height:{{swiperHeight|header_whScale}};
      .headertitle{
          width:100%;
          margin:{{padding|header_title_margin}};
          white-space: nowrap;
          color:{{formatColorToRgba|header_title_textColor}};
          font-size:{{header_title_textSize}}px;
    }
}
