/** 横滑组件 */
/*包裹列表项父级*/
#{{view_id}} .listviewwrap{
    margin: {{margin|margin}};
    width:{{listui4width|margin}};
    overflow: auto;
    /*列表项*/
    .listitemview{
      background: {{advanceBg|itemNorBg}};
      background-size: contain;
      padding: {{padding|itemPadding}};
      border-width:{{borderWidth|item_border}};
      border-color:{{borderColor|item_border}};
      border-style:solid;
      border-radius: {{cornerRadius}}rpx;
      margin-bottom: 0;
      /*列表标题*/
      .listitemtitle{
        max-height: {{textHeight|title_textSize,title_lineSpace,title_lineNum}};
        background: {{formatColorToRgba|title_textBgColor}};
        display: {{isVisiable|title_isVisiable}};
        color: {{formatColorToRgba|title_textColor}};
        margin: {{margin|title_margin}};
        padding: {{padding|title_padding}};
        font-weight: {{isBold|title_bold}};
        text-align: {{textAlign|title_textAlignment}};
        width:{{slidewidth|indexPic_width,title_margin}};
        line-height: {{textLineHeight|title_lineSpace,title_textSize}};
        /*列表字行数*/
        .itemtitle{
            max-width: 100%;
            white-space: {{isWrap|title_lineNum}};
            overflow: hidden;
            text-overflow: ellipsis;
          }
          /*列表字*/
          .title{
              background: {{formatColorToRgba|title_textFillColor}};
              font-size: {{title_textSize}}px;
              text-shadow: {{shadow_old|title_shadowEffect,title_shadowDirection,title_vOffset,title_hOffset,title_shadowColor,title_shadowRadius}};
            }
      }
      /*索引图*/
      .indexpic{
          margin:{{margin|indexPic_margin}};
          position: relative;
          font-size:0;
          .indexpicimage{
              border-radius: {{indexPic_Radius}}rpx;
              position: relative;
              width: {{indexPic_width}}rpx;
              height: {{indexPic_height}}rpx;
              border-width:{{borderWidth|indexpic_border}};
              border-color:{{borderColor|indexpic_border}};
              border-style:solid;
            }
            /*遮罩*/
            .indexpicmask{
              display: {{isVisiable|indexPic_isMask}};
              background: {{formatColorToRgba|indexPic_maskBg}};
              width: 100%;
              height: 100%;
              position: absolute;
              border-radius: {{indexPic_Radius}}rpx;
              top: 0;
            }
        }
    }
    .divider{
        width: {{divider_height}}rpx;
        padding: {{margin|divider_margin}};
        background: {{formatColorToRgba|divider_bg}};
        .dividerborder{
          background: {{formatColorToRgba|divider_bg}};
          height: 100%;
          width: 1px;
        }
      }
    .divider_last{
        padding: 0;
        width: {{divider_height}}rpx;
        margin: {{margin|divider_margin}};
      }
}
#{{view_id}} .listviewwrap::-webkit-scrollbar {display:none}
