.detailwrap{
  font-size : 14px;
  color : #444;
  background: #f3f3f3;
  min-height: 100vh;
  .orderproduct_wrap{
    border-top: 1px solid #eee;
  }
}
.status{
    line-height:30px;
    background:#6fa8dc;
    color:#fff;
    padding:0 10px;
    text-align:center;

}
.address{
    padding : 10px;
    background : #fff;
}
.address img{
  width : 20px;
  height : 20px;
  margin-right: 10px;
  object-fit: cover;
}
.address  .detail_address{
  line-height: 40rpx;
  color:#999;
}
.orderdetail{
    background : #fff;
    margin-top: 10px;
}
.orderdetail .head{
    padding : 0 10px;
    height : 40px;
    border-top : solid 1px #f0f0f0;
}
.orderdetail .head .shopname{
    margin : 0 10px 0;
}
.orderdetail .product{
  padding:10px 10px;
  margin-bottom:5px;
}
.orderdetail .product img{
    width : 70px;
    height : 70px;
    margin-right : 8px;
}
.ft12{
    font-size : 12px;
}
.gray{
    color : #959595;
}
.text-right{
  text-align:center;
}
.orderdetail .total{
    height : 40px;
    padding : 0 10px;
    border-top : solid 1px #f3f3f3;
}

.message{
  padding:10px;
  border-top:solid 1px #f3f3f3;
  background: #fff;
  color: #999;

}
.detailwrap .orderoption{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height:40px;
  display: flex;
  align-items: center;
  background: #fff;
}

.detailwrap .counttime{
  font-size: 14px;
  flex:1;
}
.detailwrap .orderbtnwrap{
  flex:1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.detailwrap .orderbtnwrap .cancelorder,.detailwrap .orderbtnwrap .payorder,
.detailwrap .orderbtnwrap .confirmorder,.detailwrap .orderbtnwrap .evaluateorder{
  width:70px;
  height:25px;
  line-height: 25px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  margin-right:10px;
}
.detailwrap .orderbtnwrap .cancelorder{
  border:1px solid #999;
  color: #999;
}

.detailwrap .orderbtnwrap .payorder,
.detailwrap .orderbtnwrap .confirmorder,.detailwrap .orderbtnwrap .evaluateorder{
  border:1px solid red;
  color: red;
}
.detailwrap .extra-info{
    padding:0 10px;
    color:#959595;
    line-height:30px;
    border-top:solid 1px #f3f3f3;
}
